<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmos - Log In</title>
    <link rel="stylesheet" href="/static/sylesslog.css">
</head>
<body>
    <div class="login-container">
        <div class="login-logo">
        <img src="{{ url_for('static', filename='cosmos.png') }}" alt="Cosmos Logo" class="cat-logo">
        </div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="flash-messages">
              {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <form action="/login" method="post">
            <div class="form-group">
                <label for="email">Username</label>
                <input autocomplete="off" autofocus type="text" id="email" class="form-control" name="username" placeholder="Username" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
            </div>

            <button type="submit" class="btn-login">Log In</button>
        </form>

        <div class="general_links">
            <a href="/register">Register</a>
        </div>

        <div class="general_links">
            <a href="/newpassword">Forgot your password?</a>
        </div>

    </div>
</body>
</html>
