{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

    <form action="/sell" method="post">
        <select name="symbol" class="custom-select">
            <option value="" disabled selected>Symbol</option>
            {% for transaction in transactions %}
            <option value="{{ transaction.symbol }}">{{ transaction.symbol }}</option>
            {% endfor %}
        </select>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number" min="0">
        </div>

        <button class="btn btn-primary mt-3" type="submit">Sell</button>
    </form>

{% endblock %}
